#card-detail-view {
  width: 36%;
  height: 90%;
  overflow: scroll;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 30px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
  position: fixed;
  top: 50%;
  right: 26%;
  z-index: 9999;
  padding: 48px 40px;
  transition: all 300ms ease-in-out;
}

.hide-card {
  transform: translateY(-50%) translateX(100vw);
}

.show-card {
  transform: translateY(-50%) translateX(0vw);
}

.card-detail-view-headline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-detail-view-headline > img:hover {
  cursor: pointer;
  background-color: rgba(209, 209, 209, 1);
  border-radius: 50%;
}

.card-detail-view-catagory {
  border-radius: 8px;
  background-color: rgba(0, 56, 255, 1);
  text-align: center;
  color: rgba(255, 255, 255, 1);
  font-size: 23px;
  padding: 4px 24px;
}

.card-detail-view-title {
  font-size: 61px;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
  margin-bottom: 20px;
}

.card-detail-view-description {
  font-size: 20px;
  color: rgba(0, 0, 0, 1);
  display: flex;
}

#card-detail-view-date {
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-detail-view-date-text {
  font-size: 20px;
  color: rgba(42, 54, 71, 1);
}

.card-detail-view-date-due-date {
  font-size: 20px;
  color: rgba(0, 0, 0, 1);
  margin-left: 30px;
}

#card-detail-view-priority {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.card-detail-view-priority-text {
  font-size: 20px;
  color: rgba(42, 54, 71, 1);
}

.card-detail-view-priority-urgency {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.card-detail-view-priority-urgency > span {
  font-size: 20px;
  color: rgba(0, 0, 0, 1);
  margin-right: 10px;
}

.card-detail-view-assigned-to > span {
  font-size: 20px;
  color: rgba(42, 54, 71, 1);
}

.card-detail-view-assigned-person {
  display: flex;
  align-items: center;
  padding: 4px 16px;
  margin-top: 20px;
}

.card-detail-view-assigned-to-person-logo {
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  background-color: rgba(255, 122, 0);
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 1);
  margin-right: 20px;
}

.card-detail-view-subtasks {
  width: 480px;
  margin-top: 20px;
}

.card-detail-view-subtasks > span {
  font-size: 20px;
  color: rgba(42, 54, 71, 1);
  margin-top: 10px;
}

.card-detail-view-subtasks-container {
  margin-top: 20px;
}

.card-detail-view-subtasks-enumeration {
  display: flex;
  align-items: center;
  position: relative;
  padding: 4px 16px;
}

.card-detail-view-subtasks-enumeration:hover {
  width: 100%;
  background-color: rgba(209, 209, 209, 1);
  border-radius: 10px;
  display: inline-flex;
  cursor: pointer;
}

.card-detail-view-subtasks-enumeration > img {
  margin-right: 20px;
}

.card-detail-view-subtasks-enumeration > span {
  font-size: 16px;
  color: rgba(0, 0, 0, 1);
}

.subtask-bin {
  position: absolute;
  right: 0;
}

#options-container {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 30px;
}

.options {
  width: 159px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.delete,
.edit {
  display: flex;
  align-items: center;
}

.delete:hover,
.edit:hover {
  cursor: pointer;
}

.delete > span,
.edit > span {
  font-size: 16px;
  color: rgba(42, 54, 71, 1);
  margin-left: 7px;
}

.options-line {
  width: 1px;
  height: 24px;
  background-color: rgba(209, 209, 209, 1);
}

/* ### Mobile ### */

@media (max-width: 1400px) {
  #card-detail-view {
    width: 50%;
  }
}

@media (max-width: 1000px) {
  #card-detail-view {
    width: 70%;
    right: 17%;
  }
}

@media (max-width: 720px) {
  #card-detail-view {
    font-size: 16px;
    padding: 32px 24px;
    width: 90%;
    right: 5%;
  }

  .card-detail-view-title {
    font-size: 36px;
  }

  .card-detail-view-catagory,
  .card-detail-view-description,
  .card-detail-view-date > span,
  .card-detail-view-priority-text,
  .card-detail-view-priority-urgency > span,
  .card-detail-view-assigned-to > span,
  .card-detail-view-subtasks > span {
    font-size: 16px;
  }
  .card-detail-view-catagory {
    padding: 4px 16px;
  }
}

/* ### edit view ### */

#card-detail-view-title-container {
  display: flex;
  flex-direction: column;
}

.edit-title {
  color: rgb(96, 105, 117);
  margin-bottom: 0;
}

#edit-title-input,
#edit-date-value,
#edit-add-subtask {
  width: 480px;
  height: 48px;
  border: 1px solid rgb(209, 209, 209);
  padding: 12px 21px;
  border-radius: 10px;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 30px;
}

#edit-description {
  color: rgb(96, 105, 117);
}

#edit-description-textarea {
  width: 480px;
  border: 1px solid rgb(209, 209, 209);
  padding: 12px 21px;
  border-radius: 10px;
  font-size: 20px;
  margin-top: 10px;
}

.edit-date,
.edit-prio {
  color: rgb(96, 105, 117);
}

.edit-prio-btns {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

#edit-assigned-dropdown {
  width: 480px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgba(209, 209, 209, 1);
  border-radius: 10px;
  padding: 7px 16px;
}

#edit-assigned-dropdown-container {
  width: 480px;
  height: 300px;
  position: absolute;
  z-index: 1;
  overflow: scroll;
  padding: 4px 16px;
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  background-color: rgba(255, 255, 255, 1);
}

#card-detail-view-assigned-persons {
  margin-top: 10px;
}

#card-detail-view-assigned-persons-logo {
  display: flex;
  margin-top: 10px;
}

#edit-subtask-input-container {
  display: flex;
  position: relative;
}

.edit-subtasks-input {
  flex-direction: column;
}

#edit-subtasks-plus:hover {
  background-color: rgba(209, 209, 209, 1);
  border-radius: 50%;
}

#add-subtasks-plus {
  position: absolute;
    right: 12px;
    top: 20px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.edit-save-btn {
    background-color: rgba(42, 54, 71, 1);
    border-radius: 10px;
    font-size: 21px;
    line-height: 25.2px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;

}