* {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  font-family: "Inter";
  font-weight: 400;
  padding: 0;
  margin: 0;
  background-color: rgb(246, 247, 248);
}

.d-none {
  display: none;
}

#board-container {
  width: 100vw;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  z-index: 5;
}

.board {
  display: flex;
  flex-direction: column;
}

.headline {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 300px;
}

.headline-left > h1 {
  font-size: 61px;
  font-weight: 700;
}

.headline-right {
  width: 504px;
  display: flex;
  justify-content: space-between;
}

#searchbar {
  width: 312px;
  height: 48px;
  position: relative;
}

#searchbar-field {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  border: 1px solid rgba(168, 168, 168, 1);
  font-size: 20px;
  padding: 10px 50px 10px 10px;
}

#searchbar input:focus {
  border: 1px solid rgba(41, 171, 226, 1);
  outline: none;
}

#searchbar input::placeholder {
  color: rgba(209, 209, 209, 1);
}

.line {
  position: absolute;
  top: 50%;
  right: 50px; /* Position it before the magnifying glass */
  transform: translateY(-50%);
  width: 1px;
  height: 60%; /* Adjust height as needed */
  background-color: rgba(209, 209, 209, 1);
}

.magnifying-glass {
  position: absolute;
  top: 50%;
  right: 10px; /* Position the icon inside the input field */
  transform: translateY(-50%);
  width: 32px; /* Adjust the size of the icon as needed */
  height: 32px;
  cursor: pointer;
  border-radius: 50%;
}

.magnifying-glass:hover {
  background-color: rgba(238, 238, 238, 1);
}

.add-task-btn {
  width: 160px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(42, 54, 71, 1);
  border-radius: 10px;
  cursor: pointer;
  color: rgba(255, 255, 255, 1);
  font-size: 21px;
  font-weight: 700;
  padding: 8px 16px;
  text-decoration: none;
}

.add-task-btn:hover {
  background-color: rgba(41, 171, 226, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.add-task-btn:active {
  position: relative;
}

.tasks {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-left: 300px;
}

.to-do-split,
.in-progress-split,
.await-feedback-split,
.done-split {
  width: 244px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.to-do-headline,
.in-progress-headline,
.await-feedback-headline,
.done-headline.done-headline {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.to-do-headline > span,
.in-progress-headline > span,
.await-feedback-headline > span,
.done-headline > span {
  font-size: 20px;
  font-weight: 700;
  color: rgba(66, 82, 110, 1);
}

.task-plus:hover {
  cursor: pointer;
}

#card {
  width: 252px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 24px;
  padding: 16px;
  gap: 10px;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
}

#card:hover {
  cursor: pointer;
}

.catagory {
  width: 113px;
  height: 27px;
  border-radius: 8px;
  background-color: rgba(0, 56, 255, 1);
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
  padding: 4px 16px;
}

.title {
  font-size: 16px;
  font-weight: 700;
  color: rgba(42, 54, 71, 1);
}

.description {
  font-size: 16px;
  color: rgba(168, 168, 168, 1);
}

.subtasks {
  display: flex;
  align-items: center;
  margin-bottom: 15%;
}

.subtasks-diagram {
  width: 128px;
  height: 8px;
  border-radius: 8px;
  background-color: rgba(244, 244, 244, 1);
  margin-right: 10px;
}

.subtasks-diagram-filled {
  width: 50%;
  height: 100%;
  border-radius: 8px;
  background-color: rgba(69, 137, 255, 1);
}

.subtasks-number {
  font-size: 12px;
  color: rgba(0, 0, 0, 1);
}

.bottom-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.assigned-to {
  display: flex;
}

.person-one,
.person-two,
.person-three {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  background-color: rgba(255, 122, 0);
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 1);
}

.person-two {
  position: relative;
  background-color: rgba(33, 215, 193);
  z-index: 2;
  right: 6px;
}

.person-three {
  position: relative;
  background-color: rgba(70, 47, 138);
  z-index: 3;
  right: 13px;
}

/* detail view after clicked on a task */

#card-detail-view {
  width: 525px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 30px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
  margin-left: calc(50vw - 262px);
  position: fixed;
  top: 50%;
  z-index: 9999;
  padding: 48px 40px;
  transition: all 300ms ease-in-out;
}

.hide-card {
  transform: translateY(-50%) translateX(100vw);
}

.show-card {
  transform: translateY(-50%) translateX(0vw);
}

.card-detail-view-headline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-detail-view-headline > img:hover {
  cursor: pointer;
  background-color: rgba(209, 209, 209, 1);
  border-radius: 50%;
}

.card-detail-view-catagory {
  width: 164px;
  height: 36px;
  border-radius: 8px;
  background-color: rgba(0, 56, 255, 1);
  text-align: center;
  color: rgba(255, 255, 255, 1);
  font-size: 23px;
  padding: 4px 24px;
}

.card-detail-view-title {
  font-size: 61px;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
  margin-bottom: 20px;
}

.card-detail-view-description {
  font-size: 20px;
  color: rgba(0, 0, 0, 1);
  display: flex;
}

.card-detail-view-date {
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-detail-view-date-text {
  font-size: 20px;
  color: rgba(42, 54, 71, 1);
}

.card-detail-view-date-due-date {
  font-size: 20px;
  color: rgba(0, 0, 0, 1);
  margin-left: 30px;
}

.card-detail-view-priority {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.card-detail-view-priority-text {
  font-size: 20px;
  color: rgba(42, 54, 71, 1);
}

.card-detail-view-priority-urgency {
  display: flex;
  align-items: center;
  margin-left: 53px;
}

.card-detail-view-priority-urgency > span {
  font-size: 20px;
  color: rgba(0, 0, 0, 1);
}

.card-detail-view-assigned-to > span {
  font-size: 20px;
  color: rgba(42, 54, 71, 1);
}

.card-detail-view-assigned-to-person-one,
.card-detail-view-assigned-to-person-two,
.card-detail-view-assigned-to-person-three {
  display: flex;
  align-items: center;
  padding: 4px 16px;
  margin-top: 20px;
}

.card-detail-view-assigned-to-person-one-logo,
.card-detail-view-assigned-to-person-two-logo,
.card-detail-view-assigned-to-person-three-logo {
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  background-color: rgba(255, 122, 0);
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 1);
  margin-right: 20px;
}

.card-detail-view-assigned-to-person-two-logo {
  background-color: rgba(33, 215, 193);
}

.card-detail-view-assigned-to-person-three-logo {
  background-color: rgba(70, 47, 138);
}

.card-detail-view-subtasks {
  margin-top: 20px;
}

.card-detail-view-subtasks > span {
  font-size: 20px;
  color: rgba(42, 54, 71, 1);
}

.card-detail-view-subtasks-enumeration {
  margin-top: 20px;
}

.card-detail-view-subtasks-enumeration-one,
.card-detail-view-subtasks-enumeration-two {
  display: flex;
  align-items: center;
  padding: 4px 16px;
}

.card-detail-view-subtasks-enumeration-one:hover,
.card-detail-view-subtasks-enumeration-two:hover {
  background-color: rgba(209, 209, 209, 1);
  border-radius: 10px;
  display: inline-flex;
  cursor: pointer;
}

.card-detail-view-subtasks-enumeration-one > img,
.card-detail-view-subtasks-enumeration-two > img {
  margin-right: 20px;
}

.card-detail-view-subtasks-enumeration-one > span,
.card-detail-view-subtasks-enumeration-two > span {
  font-size: 16px;
  color: rgba(0, 0, 0, 1);
}

.options-container {
  display: flex;
  justify-content: flex-end;
}

.options {
  width: 159px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.delete,
.edit {
  display: flex;
  align-items: center;
}

.delete:hover,
.edit:hover {
  cursor: pointer;
}

.delete > span,
.edit > span {
  font-size: 16px;
  color: rgba(42, 54, 71, 1);
  margin-left: 7px;
}

.options-line {
  width: 1px;
  height: 24px;
  background-color: rgba(209, 209, 209, 1);
}

/* Add task Pop Up */
#add-task {
  width: 80%;
  height: 870px;
  position: fixed;
  background-color: rgba(255, 255, 255, 1);
  left: 50%;
  top: 50%;
  z-index: 9999;
  border-radius: 30px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  padding: 50px;
  transition: all 300ms ease-in-out;
}

.hide-add-task {
  transform: translateY(-50%) translateX(100vw);
}

.show-add-task {
  transform: translateY(-50%) translateX(-50%);
}

.add-task-headline {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.add-task-headline > h1 {
  font-size: 61px;
  font-weight: 700;
  color: rgba(0, 0, 0, 1);
  padding: 2px;
  margin: 0;
}

.add-task-headline > img:hover {
  cursor: pointer;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
}

form {
  height: 80%;
}

.form {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.add-task-left {
  display: flex;
  flex-direction: column;
}

.add-task-left > label {
  font-size: 20px;
  color: rgba(71, 82, 96);
  margin-bottom: 10px;
}

.add-task-left > label > span {
  color: rgba(255, 129, 144);
}

.add-task-left > input,
.add-task-left > select,
.add-task-left > textarea,
.date-container > input {
  height: 48px;
  width: 440px;
  padding: 12px 21px;
  border: 1px solid rgba(209, 209, 209, 1);
  border-radius: 10px;
  font-size: 20px;
  margin-bottom: 30px;
}

.add-task-left > textarea {
  padding: 18px 16px;
}

.add-task-left > select {
  padding: 12px 16px;
}

.add-task-left > select {
  appearance: none;
  background-image: url("/assets/img/drop-down-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  background-size: 24px;
  padding-right: 40px;
}

.assigned-container,
.category-container {
  position: relative;
}

#category-dropdown {
  margin-top: 10px;
  margin-bottom: 30px;
  cursor: pointer;
}

#assigned-dropdown,
#category-dropdown {
  width: 440px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgba(209, 209, 209, 1);
  border-radius: 10px;
  padding: 7px 16px;
}

#assigned-dropdown:hover {
  border: 1px solid rgb(176, 176, 176);
  cursor: pointer;
}

#assigned-person {
  display: flex;
  margin: 10px;
  margin-right: 15px;
}

.assigned-person-logo {
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  background-color: rgba(255, 122, 0);
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 1);
  margin-right: 10px;
}

.assigned-person-logo-color0{
  background-color: rgba(255, 122, 0);
}

.assigned-person-logo-color1{
  background-color: rgba(255, 94, 179, 1);
}

.assigned-person-logo-color2{
  background-color: rgba(110, 82, 255, 1);
}

.assigned-person-logo-color3{
  background: rgba(147, 39, 255, 1);
}

.assigned-person-logo-color4{
  background: rgba(0, 190, 232, 1);
}

.assigned-person-logo-color5{
  background: rgba(31, 215, 193, 1);
}

.assigned-person-logo-color6{
  background: rgba(255, 116, 94, 1);
}

.assigned-person-logo-color7{
  background: rgba(255, 163, 94, 1);
}

.assigned-person-logo-color8{
  background: rgba(252, 113, 255, 1);
}

.assigned-person-logo-color9{
  background: rgba(255, 199, 1, 1);
}

.assigned-person-logo-color10{
  background: rgba(0, 56, 255, 1);
}

.assigned-person-logo-color11{
  background: rgba(195, 255, 43, 1);
}

.assigned-person-logo-color12{
  background: rgba(255, 230, 43, 1);
}

.assigned-person-logo-color13{
  background: rgba(255, 70, 70, 1);
}

.assigned-person-logo-color14{
  background: rgba(255, 187, 43, 1);
}



#person-to-assigned,
#categories {
  width: 440px;
  height: 200px;
  position: absolute;
  padding: 12px 20px;
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  background-color: rgba(255, 255, 255, 1);
  overflow: scroll;
  z-index: 1;
}

#person-to-assigned {
  top: 73px;
}

#categories {
  top: 93px;
}

.categories-container {
  display: flex;
  flex-direction: column;
}

.categories-container > span {
  border-radius: 10px;
  padding: 10px;
}

.categories-container > span:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
}

.person-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 1px;
}

.person-container:hover {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.person {
  display: flex;
  align-items: center;
}

.person-to-assigned-logo {
  width: 42px;
  height: 42px;
  font-size: 12px;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 10px;
}

.person-to-assigned-logo2 {
  background-color: orange;
}

.person-container > img {
  width: 24px;
  height: 24px;
}

.person-container > img:hover {
  cursor: pointer;
  background-color: rgb(209, 209, 209);
  border-radius: 50%;
}

.drop-down-arrow {
  width: 32px;
  height: 32px;
  padding: 2px;
}

.drop-down-arrow:hover {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  cursor: pointer;
}

.add-task-line {
  width: 1px;
  height: 100%;
  background-color: rgba(209, 209, 209, 1);
}

.date-container {
  display: flex;
  flex-direction: column;
}

.date-container > label,
.add-task-prio > label,
.category-container > label,
.subtasks-container > label {
  font-size: 20px;
  color: rgba(71, 82, 96);
  margin-bottom: 10px;
}

textarea {
  height: 100px !important;
}

.date-container > label > span,
.category-container > label > span {
  color: rgba(255, 129, 144);
}

.prio-btn {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 10px;
  margin-bottom: 30px;
}

#urgent-btn,
#medium-btn,
#low-btn {
  width: 136px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 10px;
  padding: 16px 10px;
  border: none;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  font-size: 20px;
  cursor: pointer;
}

#urgent-btn:hover,
#medium-btn:hover,
#low-btn:hover {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.category-container {
  display: flex;
  flex-direction: column;
}

.category-container > select {
  width: 440px;
  padding: 12px 21px;
  border: 1px solid rgba(209, 209, 209, 1);
  border-radius: 10px;
  font-size: 20px;
  margin-bottom: 30px;
  appearance: none;
  background-image: url("/assets/img/drop-down-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  background-size: 24px;
  padding-right: 40px;
}

.subtasks-container {
  display: flex;
  flex-direction: column;
}

.add-subtasks-container {
  width: 440px;
  height: 48px;
  position: relative;
}

.add-subtasks-container > input {
  width: 100%;
  height: 100%;
  position: relative;
  border: 1px solid rgba(209, 209, 209, 1);
  border-radius: 10px;
  font-size: 20px;
  padding: 12px 16px;
  margin-bottom: 30px;
}

.add-subtasks-container > img {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 20px;
  top: 12px;
  cursor: pointer;
  padding: 3px;
}

.add-subtasks-container > img:hover {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom-left > span {
  font-size: 20px;
  color: rgba(0, 0, 0, 1);
}

.bottom-left > span:nth-child(1) {
  color: red;
}

.bottom-right {
  width: 334px;
  display: flex;
  justify-content: space-between;
}

.cancel-btn,
.create-task-btn {
  width: 126px;
  height: 56px;
  color: rgba(42, 54, 71, 1);
  font-size: 20px;
  border: 2px solid rgba(42, 54, 71, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  text-decoration: none;
}

.create-task-btn {
  width: 183px;
  background-color: rgba(42, 54, 71, 1);
  color: rgb(255, 255, 255);
}

.cancel-btn:hover {
  color: rgba(41, 171, 226, 1);
  border: 2px solid rgba(41, 171, 226, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.create-task-btn:hover {
  background-color: rgba(41, 171, 226, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;
}

.bottom-right > a > img {
  margin-left: 10px;
}
