body{
  font-family: "Inter";
  background-color: #F6F7F8;
}

/*Contact List*/
.Content-Contacts{
  position: fixed;
  top: 96px;
  bottom: 0px;
  left: 232px;
  width: 456px;
  height: auto;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 4px 0px 6px 0px rgba(0, 0, 0, 0.08);
  overflow-y: scroll;
  overflow-x: hidden;
  flex-direction: column;
 
}

.Content-Contacts::-webkit-scrollbar-thumb {
    background: #888; /* Farbe des Scrollbar-Schiebereglers */
    border-radius: 20px;
}
  
.Btn-Container{
  width: 430px;
  height: 101px;
  position: fixed;
  top: 96px;
  left: 232px;
  display: flex;
  justify-content: center;
  align-items: center;
  background:rgba(255, 255, 255, 1);
}

.contactBtn{
  border-radius: 10px;
  padding: 12px 0px 12px 0px;
  background-color: rgba(42, 54, 71, 1);
  width: 352px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border: none;
 }

 .contactBtn:hover{
  background-color: rgba(41, 171, 226, 1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.contactBtn p{
  width: 175px;
  height: 25px;
  font-size: 21px;
  line-height: 25.2px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
}

.innerContent{
  width: 400px;
  height: auto;
  padding: 32px 24px 32px 24px;
  margin-top: 50px;
}

.AtoZ-Content{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
}


.AtoZ-Ctn{
 width: 352px;
 height: 58px;
 display: flex;
 align-items: center;
 }

.AtoZ-Ctn p{
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-family: inter;
  margin-left: 45px;
  color: rgba(0, 0, 0, 1);
}

.line-Ctn{
  height: 16px;
  width: 352px;
 
}

.line{
  width: 352px;
  border: 1px solid rgba(209, 209, 209, 1);
  }

  .contact-data {
    width: 352px;
    height: 78px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    transition: background-color 0.3s;
    padding-left: 10px;
}

.contact-data.clicked {
    background-color: rgba(42, 54, 71, 1);
    color: white;
    cursor: pointer;
}

.contact-data:not(.clicked):hover {
    background: linear-gradient(180deg, #F9F9F9 0%, #F0F0F0 100%);
    cursor: pointer;
    
}

h1{
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 5px;
  margin-top: 0px;
}

 .contact-data p{
  font-size: 16px;
  line-height: 19.2px;
  font-weight: 400;
  color: rgba(0, 124, 238, 1);
  margin: 0px;
}

.email-blue{
  color: rgba(0, 124, 238, 1);
  cursor: pointer;
  }

.contact-data img{
  width: 42px;
  height: 42px;
  padding-left: 30px;
}

/*Mid-Content*/

.mid-Content{
  position: fixed;
  left: 743px;
  top: 150px;
  width: 569px;
  height: 73px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.mid-Content p{
  font-size: 27px;
  line-height: 32.4px;
  font-weight: 400;
  color: rgba(42, 54, 71, 1);
  
}

h2{
  font-size: 61px;
  font-weight: 700;
  line-height: 73.2px;
  color: rgba(0, 0, 0, 1);
}

.blue-line{
  height: 59px;
  gap: 0px;
  border: 3px 0px 0px 0px;
  opacity: 0px;
  border: 3px solid rgba(41, 171, 226, 1)
}

/*float-Content*/
.float-Ctn{
  position: fixed;
  left: 750px;
  top: 270px;
  width: 461px;
  height: 364px;
}

.float-top-Ctn{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 37px;
}

.edit-delete-Ctn{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
}

.edit-delete2{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.edit-delete2:hover{
  color: rgba(41, 171, 226, 1);
  font-weight: 700;
  cursor: pointer;
  filter: brightness(0) saturate(100%) invert(27%) sepia(90%) saturate(3325%) hue-rotate(170deg) brightness(90%) contrast(91%);
  
}

.edit-delete2 p{
  font-size: 16px;
  line-height: 19.2px;
  font-weight: 400;
}

h3{
  font-size: 47px;
  font-weight: 500;
  line-height: 56.4px;
  margin: 0px;
}

.float-Edit-Delet-Ctn {
  display: flex;
  flex-direction: column;
  width: 287px;
  height: 88px;
  justify-content: flex-start;
}

.small-img{
  width: 24px;
  height: 24px;
}

.float-img{
  width: 120px;
  height: 120px;
}

.contact-Information{
  width: 207px;
  height: 74px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.font-weight{
  font-size: 16px;
  font-weight: 700;
}

@keyframes fadeInBackground {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-500%);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.AlertCreated {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fadeInBackground 0.5s ease-out forwards;
}

.createdsuccesfully {
  width: 326px;
  height: 74px;
  border-radius: 20px;
  background-color: #2A3647;
  color: white;
  box-shadow: 0px 0px 4px 0px #00000026;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slideInFromTop 0.5s ease-out forwards;
}

.back-img{
  display: none;
  position: fixed;
  left: 100%;
    top: 15px;
}
  



@media(max-width:1090px){
  .Content-Contacts{
    width: 400px;
  }

  .float-Ctn{
    left: 680px;
  }

  .Btn-Container{
    width: 400px;
  }

  .contact-data{
    width: 340px;
  }

  .AtoZ-Content{
    margin-right: 40px;
  }
}

@media(max-width:960px){
  .Btn-Container{
    width: 300px;
  }

  .contactBtn{
    width: 290px;
  }

  .Content-Contacts{
    width: 300px;
  }

  .contact-data{
    width: 280px;
  }

  .AtoZ-Content{
    margin-right: 150px;
  }

  h1{
    font-size: 14px;
  }

  .contact-data p{
    font-size: 14px;
  }

  .AtoZ-Content p{
    font-size: 14px;
  }

}

@media (max-width: 768px){
  .Content-Contacts{
    left: 0px;
    top: 80px;
    height: 1022px;
  }

  .Btn-Container{
   left: 0px;
    top: 80px;
  }

}

@media(max-width: 600px){
  .Btn-Container { 
    bottom: 150px;
    width: 100px;
    height: 100px;
    top: auto;
    right: 20px;
    left: auto;
    background-color: rgba(255, 255, 255, 0);
   }
  
   .Btn-Container p{
    display: none;
    
  }

  .Content-Contacts{
    width: 100%;
    margin-bottom: 82px;
    height: auto;
    
  }

  .innerContent{
    width: 100%;
    padding: 0px 0px ;
    margin-top: 0px;
  }

  .AtoZ-Content{
    margin-right: 0px;
  }

  .AtoZ-Content p{
   font-size: 20px;
  }

  h1{
    font-size: 20px;
  }

  .line-Ctn{
    width: 95%;
   
  }
 
  .line{
    width: 95%;
    margin-left: 10px;
  }

  .contactBtn {
    width: 100px;
    height: 100px;
    border-radius: 50px;
  }

  .contactBtn img {
    width: 50px;
  }
  
}

@media(max-width: 500px){
    .contactBtn {
        width: 70px;
        height: 70px;
        border-radius: 50px;
    }

    .Btn-Container {
     right: -5px;
    }
}


