/*Mid-Content*/

.mid-Content{
  position: fixed;
  left: 743px;
  top: 150px;
  width: 600px;
  height: 73px;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}



.mid-Content p{
  font-size: 27px;
  line-height: 32.4px;
  font-weight: 400;
  color: rgba(42, 54, 71, 1);
  
}

h2{
  font-size: 61px;
  font-weight: 700;
  line-height: 73.2px;
  color: rgba(0, 0, 0, 1);
}

.blue-line{
  height: 59px;
  gap: 0px;
  border: 3px 0px 0px 0px;
  opacity: 0px;
  border: 3px solid rgba(41, 171, 226, 1)
}

/*float-Content*/
.float-Ctn {
  position: fixed;
  top: 270px;
  width: 461px;
  height: 364px;
  left: 750px;
  transform: translateX(100%);
  display: none; /* Initially hidden */
}

.float-Ctn.visible {
  display: block;
  animation: slide-in 0.5s forwards;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.float-top-Ctn{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 80px;
}

.edit-delete-Ctn{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
}

.edit-delete2{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.edit-delete2:hover{
  color: rgba(41, 171, 226, 1);
  font-weight: 700;
  cursor: pointer;
  filter: brightness(0) saturate(100%) invert(27%) sepia(90%) saturate(3325%) hue-rotate(170deg) brightness(90%) contrast(91%);
  
}

.edit-delete2 p{
  font-size: 16px;
  line-height: 19.2px;
  font-weight: 400;
}

h3{
  font-size: 47px;
  font-weight: 500;
  line-height: 56.4px;
  margin: 0px;
  text-wrap: nowrap;
}

.float-Edit-Delet-Ctn {
  display: flex;
  flex-direction: column;
  width: 287px;
  height: 88px;
  justify-content: flex-start;
}

.small-img{
  width: 24px;
  height: 24px;
}

.float-img{
  width: 120px;
  height: 120px;
}

.contact-Information{
  width: 207px;
  height: 74px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.font-weight{
  font-size: 16px;
  font-weight: 700;
}

.initials-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
 
}


@media(max-width: 1590px){
 h2{
  font-size: 41px;
 }

 .mid-Content{
  gap: 15px
 }

 .float-img{
  width: 50px;
  height: 70px;
 }

 h3{
  font-size: 36px;
 }

 .float-top-Ctn{
  gap: 50px;
 }

 .initials-avatar {
  width: 80px;
  height: 80px;
}
}

@media(max-width: 1340px){
  
  .blue-line{
    width: 100px;
    margin-top: -20px;
  }



  .mid-Content{
    flex-direction: column;
    position: fixed;
    left: 710px;
    top: 120px;
    width: 200px;
  }

  .float-top-Ctn {
    gap: 15px;
  }

  h2{
    margin: 0px;
  }

  .mid-Content p{
    margin-top: -10px;
    font-size: 20px;
    
  }

  .float-top-Ctn {
    /* gap: 50px; */
    flex-direction: column;
    margin-right: 220px;
}

.float-Edit-Delet-Ctn{
  align-items: start;
}

h3{
  font-size: 26px;
}

 .float-img{
  margin-right: 140px;
 }
}

@media(max-width:1090px){
  .float-Ctn{
    left: 680px;
  }

  .mid-Content{
    left: 650px;
  }

}

@media(max-width:960px){
  .mid-Content{
    left: 530px;
  }

  h2{
    font-size: 31px;
  }

  .blue-line {
    width: 90px;
    margin-top: -25px;
 }

 .mid-Content p {
  margin-top: -10px;
  font-size: 20px;
}

.float-Ctn{
  left: 580px;
}

.float-img{
  margin-right: 170px;
}

h3{
  font-size: 20px;
}

.small-img{
  width: 16px;
  height: 16px;
}

.edit-delete2{
  gap: 6px;
}

.edit-delete-Ctn{
  margin-top: -15px;
}

.contact-Information{
  margin-top: -15px;
  margin-left: -25px;
}

.contact-Information-box{
  margin-top: -20px;
  margin-left: -25px;
}
}

@media(max-width:768px){
  .mid-Content{
    left: 300px;
  }

  .float-Ctn{
    left: 350px;
  }
}

@media (max-width: 600px) {
    .mid-Content{
      left: 20px;
      width: auto;
      flex-direction: row;
    }

    .mid-Content p {
      margin: 0px;
  }

  .blue-line {
    width: 0px;
    margin-top: 0px;
}

.float-Ctn {
  transform: none;
  display: none; /* Initially hidden */
  left: 50px;
  margin-top: -50px;
}

.float-top-Ctn{
  flex-direction: row;
 }

 .float-img{
  margin-right: 50px;
 }

 .contact-Information {
  margin-top: 20px;
  margin-left: -25px;
}

h3{
  font-size: 30px;
}

.edit-delete-Ctn {
   margin-top: 0px; 
}

.MidContainer{
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  
  }
}

@media(max-width: 400px){
   h2{
    font-size: 21px;
   }

   .mid-Content p{
    font-size: 16px;
   }

   .float-Edit-Delet-Ctn{
     margin-left: -20px;
   }

   h3{
    font-size: 20px;
   }

   .edit-delete-Ctn{
    margin-top: -15px;
   }
}


