/* Privacy Policy */
body {
  font-family: "Inter";
  background: #F6F7F8;
  
}

.header-privacy {
  margin-top: 100px;
  margin-left: 328px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
}

.header-privacy img {
  width: 32px;
  height: 32px;
  padding: 5px;
  margin-right: 125px;
}

.header-privacy img:hover {
  background-color: rgba(238, 238, 238, 1);
  border-radius: 50%;
}

h1 {
  width: 419px;
  height: 73px;
  font-size: 61px;
  line-height: 73.2px;
  font-weight: 700;
  margin: 0px;
}

.text-Policy {
  width: 1016px;
  margin-left: 328px;
  margin-bottom: 50px;
}

h2 {
  font-size: 27px;
  font-weight: 700;
  line-height: 32.4px;
  width: auto;
  height: 32px;
  margin: 0px;
}

@media(max-width: 1345px){
  .text-Policy{
    width: auto;
    margin-right: 20px;
  }

  .header-privacy img{
    margin-right: 20px;
  }
}

@media(max-width: 1000px){
  h1{
    width: auto;
    height: auto;
    font-size: 41px;
  }
}
  
@media(max-width: 768px){
    .header-privacy{
      margin-left: 50px;
      margin-top: 20px;
    }

    .text-Policy{
      margin-left: 50px;
    }

    h2{
      width: auto;
    }
  } 

@media(max-width: 550px){
  .header-privacy img{
    width: 24px;
    height: 24px;
  }

  h1{
    font-size: 31px;
  }
}

@media(max-width: 400px){
  h1{
    font-size: 21px;
  }

  .header-privacy{
    margin-left: 10px;
  }

  .text-Policy{
    margin-left: 10px;
  }

  h2{
    font-size: 17px;
  }

  .text-Policy p{
    font-size: 16px;
  }
}

@media(max-height: 667px){
  .header-privacy{
    margin-bottom: 0px;
  }

  .text-Policy p{
    font-size: 10px;
  }

  .header-privacy img{
    width: 16px;
    height: 16px;
  }
}