<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="header.css">
</head>

<body>
    <header>
        <span>Kanban Project Management Tool</span>
        <div class="headerInfo">
            <a href="#"><img class="helpBtn" src="../icon/help.svg" alt="Help"></a>
            <a href="#"><img class="userBtn" src="../icon/User profile initials.svg" alt="User"></a>
        </div>
    </header>

    <nav>
        <img class="navLogo" src="../icon/Join logo vector.svg" alt="Logo">

        <div class="navBar">
            <a href=""><img class="navBarIcon" src="../icon/Summary.svg">Summary</a>
            <a href=""><img class="navBarIcon" src="../icon/Add task.svg">Add Task</a>
            <a href=""><img class="navBarIcon" src="../icon/Board.svg">Board</a>
            <a href=""><img class="navBarIcon" src="../icon/Contacts.svg">Contacts</a>
        </div>

        <div class="navLaws">
            <span>Privacy Policy</span>
            <span>Legal notice</span>
        </div>
    </nav>
</body>
